[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
termcolor = "*"
tqdm = "*"
flask = "*"
pdoc3 = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
